.image{
    width: 350px;
    height: 206px;}
.news{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.fix{
    background: red;
    border: none;
    position: absolute;
    right: 18px;
    bottom: 14px;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 10px 20px 10px 23px;
    border-radius: 101px !important;
}